/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
/* estilo modal */
.modal-header{
  color: #fff;
  background-color: #008cba;
  border-color: #008cba;
}
.modal-header .close{
  color: #fff;
}
/* fin estilo modal */

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}


body {
  /*margin-bottom: 60px;*/
	background-image: url(../img/00_dog.jpg);
	width:100%;
	height: 800px;
	background-size: cover;
	position: relative;
  	background-repeat: no-repeat;
	padding-bottom: 3em;
	min-height: 100vh;
	

}


.footer {
  background-color: rgba(255, 255, 255, 0.676);
  padding: 0.5cm 0;
  text-align: justify;
  position: relative;
  bottom: 0;
  width: 100%;
  opacity: 80%;
    /* Vertically center the text there */
}
li.footer{
	list-style: none;
}
ul.copyrigth {
	list-style: none;
}
 
ul.nav{
	list-style: none;
	display: inline;
	margin-left:5 !important;
	padding: 5;
}
ul.volver{
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}


* {
	margin:0;
	padding:0;
}

html,body { 
	height: 100%; 
}

.global-container{
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
}

form{
	padding-top: 10px;
	font-size: 14px;
	margin-top: 2px;
}

.card-title{ font-weight:300; }

.btn{
	font-size: 14px;
	margin-top:10px;
}


.login-form{ 
	width:330px;
	margin:30px;
}

.entar-form{ 
	width:430px;
	margin:30px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

.alert{
	margin-bottom:-30px;
	font-size: 13px;
	margin-top:20px;
}


ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: absolute;
  width: 800px;
  height: 300px;
  list-style: none;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}