@page
@model VMA.App.Pages.adminVeterinariaModel
@{
}
<div class="container-fluid">
    <!--No eliminen esta fila-->
    <div class="row">
        <!--No eliminen esta fila-->
        <div class="text-center">
            <h1 class="display-3">MODULO ADMINISTRATIVO</h1>
            <section class="servicios">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/img/moduloAsistente3.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Gestion de citas</h5>
                                <p class="card-text">- Consulte citas de clientes.<br>- Agendar citas.<br>-Modifique citas.<br>-eliminie citas.</p>
                                <a href="vista-agenda" class="btn btn-primary">Ingresar al módulo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/img/moduloAsistente2.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Gestion de Clientes</h5>
                                <p class="card-text">-Consultar Datos Cliente.<br>-Registrar Nuevo Cliente.<br>Editar Datos Cliente.</p>
                                <a href="vista-usuarios" class="btn btn-primary">Ingresar al módulo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/img/moduloAsistente1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Veterinario</h5>
                                <p class="card-text">-Ver Datos de Veterinario.<br>-Registrar Nuevo Veterinario.<br>Editar Datos Veterinario.<br>Eliminar Datos Veterinario.</p>
                                <a href="vista-veterinarios" class="btn btn-primary">Ingresar al módulo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>