@page
@model paginaprueba1.app.entrarModel
@{
}
<div class="global-container">
	<div class="card entrar-form">
		<div class="card-body">
			<h3 class="card-title text-center">Entrar al sistema</h3>
			<div class="card-text">
				<!--<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
				<form>
					<!-- to error: add class "has-danger" -->
					<div class="form-group">
						<label for="exampleInputEmail1">Usuario o correo electrónico</label>
						<input type="email" class="form-control form-control-sm" id="exampleInputEmail1"
							aria-describedby="emailHelp">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Contraseña</label>
						<a href="#" style="float:right;font-size:12px;">Olvidó su contraseña?</a>
						<input type="password" class="form-control form-control-sm" id="exampleInputPassword1">
					</div>
					<button type="submit" class="btn btn-primary btn-block">Entrar</button>

					<div class="sign-up">
						No tiene usuario? <a href="vista-usuarios">Crear una cuenta</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
