@page
@model paginaprueba1.app.modulosModel
@{
}
<!--INICIO DEL CONTENEDOR  ESTE ES EL CONTENIDO QUE CAMBIA SEGUN  LOS DIFERENTES PANELES -->
<div class="container-fluid">
    <!--No eliminen esta fila-->
    <div class="row">
        <!--No eliminen esta fila-->
        <div class="text-center">
            <h1 class="display-3">Administrativo</h1><br><br>
            <section class="servicios">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/img/01_cat.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Administrativo</h5>
                                <p class="card-text">En este módulo podrá...Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="vista-admin" class="btn btn-primary">Ingresar al módulo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/img/01_cat.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Usuario</h5>
                                <p class="card-text">En este módulo podrá...Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="vista-usuarios" class="btn btn-primary">Ingresar al módulo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/img/01_cat.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Veterinario</h5>
                                <p class="card-text">En este módulo podrá ver los datos de los veterinarios que trabajan actualmente para veterinaria Mundo Animal, así mismo podra crear, editar y eliminar veterinarios.</p>
                                <a href="vista-veterinarios" class="btn btn-primary">Ingresar al módulo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/img/01_cat.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Agenda...</h5>
                                <p class="card-text">En este módulo podrá...En este módulo podrá...Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="vista-agenda" class="btn btn-primary">Ingresar al módulo</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="~/img/01_cat.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Mascotas...</h5>
                                <p class="card-text">En este módulo podrá...Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="vist-mascota" class="btn btn-primary">Ingresar al módulo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<br>
<br>
<br>