@page
@model paginaprueba1.app.noticiasModel
@{
}

        <!--INICIO DEL CONTENEDOR  ESTE ES EL CONTENIDO QUE CAMBIA SEGUN  LOS DIFERENTES PANELES -->

  <div class="container-fluid">  <!--No eliminen esta fila-->
    <section class="inicio">
        <div class="row">    <!--No eliminen esta fila-->
           
                <h1 class="display-3">Veterinaria<br>&nbsp Mundo Animal</h1><br>
                <p class="lead">Atención integral para tu mascota</p>
                <!--<hr class="my-2"> -->
                <p>En Veteterinaria Mundo Animal hacemos todo<br> por la salud y el cuidado de tu mascota</p> 
                <p>Déjanos tus  datos de contacto y obtenga la<br> primera consulta general gratis para una mascota</p> <br> <br><br>
                <p class="lead"> <br>
                <a class="btn btn-primary btn-lg" href="registrarse" role="button">Quiero registrarme</a>
                </p>
                 <p>Ya está registrado? <a href="iniciar-sesion">Ingresar al sistema</a> </p>
            
            
               
         </div> <!--No eliminen esta etiqueta-->
    </section>
         <br>
         <div class="row">  <!--No eliminen esta fila-->
            <!--<div class="text-center"> -->
               <p> <h1 class="display-3">Notas de interés</h1></p><br><br>
    <section class="servicios">
        <div class="row">
        
         <div class="col-md-3">
            <div class="card">
                <img src="~/img/01_cat.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Prevenga accidentes con su mascota</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Seguir leyendo</a>
                </div>
            </div>
         </div> 
    </section>
</div>  