@page
@model PrivacyModel
@{
    ViewData["Title"] = "Condiciones del servicio";
}
<h1>@ViewData["Title"]</h1>

<p>Por favor lea hasta el final nuestras condiciones del servicio y políticas para el tratamiento de datos personales.</p>
