
@page
@model paginaprueba1.app.vista_veterinariosModel
@{
}
<main>
    <div class="text-center">
        <br>
        <h1>MODULO VETERINARIO</h1>
        <br><br><br><br>
    </div>
    <div class="container">
        <table class="table table-hover">
            <thead class="bg-primary">
                <tr>
                    <th scope="col">DOCUMENTO</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">No. MATRICULA</th>
                    <th scope="col">TELEFONO</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">OPCIONES</th>
                </tr>
            </thead>
            <tbody class="bg-light">
                <tr class="active">
                    <th scope="row">1035162498</th>
                    <td>Wil Amaya Porras</td>
                    <td>756423</td>
                    <td>3194461326</td>
                </tr>
                <tr>
                    <th scope="row">79546321</th>
                    <td>Mariana Gonzales Cabrera</td>
                    <td>731526</td>
                    <td>3005641235</td>
                </tr>
            </tbody>
        </table><br><br><br>
        <!-- boton que abre el formulario RegistrarVeterinario -->
        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#registrarV">REGISTRAR NUEVO VETERINARIO</button>
    </div>
    <!-- Modal -->
    <div id="registrarV" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="registrarV-title"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registrarV-title">REGISTRO DE VETERINARIO</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="center">
                        <form>
                            <div class="form-group row">
                                <label for="">Documento</label>
                                <input type="number" placeholder="Numero de Cedula" required>
                            </div>
                            <div class="form-group row">
                                <label for="">Nombre</label>
                                <input type="text" placeholder="Nombre Completo" required>
                            </div>
                            <div class="form-group row">
                                <label for="">Numero de matricula Profesional</label>
                                <input type="number" placeholder="Numero de Matricula" required>
                            </div>
                            <div class="form-group row">
                                <label for="">Telefono</label>
                                <input type="number" placeholder="Numero Telefonico" required>
                            </div>
                            <div class="form-group row">
                                <label for="email">Correo Electronico</label>
                                <input type="email" placeholder="Correo Electronico" required>
                            </div>
                            <div class="form-group row">
                                <label for="password">Contraseña</label>
                                <input type="password" placeholder="contraseña" required>
                            </div>
                            <div class="form-group row">
                                <label for="password">Confirme la Contraseña</label>
                                <input type="password" placeholder="Validar Contraseña" required>
                            </div>
                            <br>
                            <div class="form-group row">
                                <input type="button" class="btn btn-primary" value="Registrar" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div><br><br><br><br><br><br><br><br><br><br><br><br>
</main>
<footer>
    <!-- place footer here -->
</footer>
